<ul><% topic.bookmarks.each do |bookmark| %>
  <li><b><%= link_to bookmark.url, bookmark.url %></b></li>
    <% if policy(bookmark).destroy? %>
    <p><%= link_to "Delete", topic_bookmark_path(topic, bookmark), method: :delete, data: {confirm: 'Are you sure you want to delete bookmark?'} %> 
    <% end %>
    <% if policy(bookmark).update? %>
     | <%= link_to "Edit", edit_topic_bookmark_path(topic, bookmark) %>
    <% end %>
      <%= render partial: 'likes/like', locals: {topic: topic, bookmark: bookmark } %>
   <div><br><br>
   </div>
<% end %>
</ul>