<div class='container'>
<h2>Topics</h2>
    <% @topics.each do |topic| %>
      <div class="media">
        <div class="media-body">
        <h4><b>#<%= link_to topic.title, [topic] %></b></h4>
        <% if current_user %><p><%= link_to "Delete", [topic], method: :delete %></p><% end %>
        	  	<ul><% topic.bookmarks.each do |bookmark| %>
        		    <li><%= link_to bookmark.url, bookmark.url %></li>
        	<% end %>
            </ul>
      </div>
    <% end %>
  <% if current_user %>
	<div><br><br><br><br><b>Add new topic</b>
      <%= render partial: 'topics/form', locals: {user: @user, topic: @topic} %>
	</div>
  <% end %>
</div>