<div class='container'>
<h3><%= @topic.title %></h3>
      <div class="media">
        <div class="media-body">
            <%= render partial: 'bookmarks/bookmarks', locals: {topic: @topic} %>
            <div><% if policy(@topic).create? %>
             <b>Add new bookmark</b>
               <%= render partial: 'bookmarks/form', locals: {topic: @topic} %>
             </b>
             <% end %>
            <br><br>
        </div>
      </div>
</div>
