<div class='container'>
<h3><%= @topic.title %></h3>
      <div class="media">
        <div class="media-body">
   	  	<ul><% @topic.bookmarks.each do |bookmark| %>
        		    <li><%= link_to bookmark.url, bookmark.url %></li>
        	<% end %>
            </ul>
            <div><% if current_user %>
             <b>Add new bookmark</b>
               <%= render partial: 'bookmarks/form', locals: {topic: @topic} %>
             </b>
             <% end %>
            <br><br>
        </div>
      </div>
</div>
