<div class='container'>
<h2>My Bookmarks</h2>
<% @user_bookmarks.each do |bookmark| %>
  <div class="media">
    <div class="media-body">
    <% if current_user %>
    <h4><b><%= link_to bookmark.url, bookmark.url %></b></h4>
    <% else %>
    <h4><b><%= bookmark.url %></b></h4>
    <% end %>        
    <% if policy(bookmark).destroy? %><p><%= link_to "Delete", bookmark.url, method: :delete %></p><% end %>
      <%#= render partial: 'bookmarks/bookmarks', locals: {topic: topic} %>
  </div>
<% end %>
</div>