</br>
<div class="container">
  <div class="jumbotron">
<<<<<<< HEAD
    <h1>BlocmarksTest</h1>
=======
    <h1>Blocmarks_DevelopmentTest</h1>
>>>>>>> Incoming_Emails
  </div>
  <h3>Welcome to Blocmarks</h3>
  <p>Blocmarks is a production quality social bookmarking app that allows users to email, manage and share bookmarked URLs. Please sign-up or sign-in to start blocmarking your favourite sites.</p>
</div>