.container
  .jumbotron
    %h1 Blocmarks
  %h3 Welcome to Blocmarks
  %p Blocmarks is a production quality social bookmarking app that allows users to email, manage and share bookmarked URLs. Please sign-up or sign-in to start blocmarking your favourite sites.